In [1]:
# IMPOT LIBRARY. 
# DATA INPUT AND OUTPUT 
import numpy as np 
import pandas as pd
import os 
import matplotlib.pyplot as plt
import seaborn as sns 



%matplotlib inline
import requests
import re

In [2]:
# import data for data-Base.
df = pd.read_csv('AC_Data.csv',)
df

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
0,2019-08-01 00:00:00,7.518632,8.788315,0.000000,0.000000,2.617045,4.079041,2.782276,4.624447,5.222060,2.151238,1.585072,0.560373,3.142941,2.749470,5.417774,4.113460,3.305072,6.735981
1,2019-08-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-01 00:02:00,7.426114,8.940615,0.000000,0.000000,2.581625,3.781231,2.529366,5.057423,5.349465,2.414715,2.168184,1.818730,3.085110,2.720484,3.302422,3.986483,3.220588,6.379500
3,2019-08-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-01 00:04:00,7.052986,9.161103,0.000000,0.000000,2.592095,3.800127,2.332304,6.322521,3.995392,2.237114,3.345624,2.310409,3.132799,2.676861,3.539026,3.797881,3.131560,6.363475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87835,2019-09-30 23:55:00,0.000000,6.122385,2.192198,2.083315,1.046250,0.000000,3.668421,3.006311,3.614301,1.860847,5.019769,3.154221,3.648026,2.439526,4.062719,1.854352,3.027539,7.259989
87836,2019-09-30 23:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87837,2019-09-30 23:57:00,1.209176,6.152532,2.211421,0.000000,1.448103,0.000000,3.151248,2.871690,3.417942,2.185493,5.174168,2.772349,3.786657,2.060023,4.057525,1.870886,2.991946,7.134647
87838,2019-09-30 23:58:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87839,2019-09-30 23:59:00,1.430442,6.078281,1.891162,0.000000,1.577491,4.364239,3.126339,3.287224,3.986978,2.013912,4.821829,3.363855,3.380110,1.949240,4.026304,1.862166,3.009434,7.179719

In [3]:
# Groupby  - single Group. single Column

df.head()

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
0,2019-08-01 00:00:00,7.518632,8.788315,0.0,0.0,2.617045,4.079041,2.782276,4.624447,5.222060,2.151238,1.585072,0.560373,3.142941,2.749470,5.417774,4.113460,3.305072,6.735981
1,2019-08-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-01 00:02:00,7.426114,8.940615,0.0,0.0,2.581625,3.781231,2.529366,5.057423,5.349465,2.414715,2.168184,1.818730,3.085110,2.720484,3.302422,3.986483,3.220588,6.379500
3,2019-08-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-01 00:04:00,7.052986,9.161103,0.0,0.0,2.592095,3.800127,2.332304,6.322521,3.995392,2.237114,3.345624,2.310409,3.132799,2.676861,3.539026,3.797881,3.131560,6.363475

In [4]:
df.isnull().sum()

0            0
AC 1     44132
AC 2     44129
AC 3     44127
AC 4     44136
AC 5     44124
AC 6     44123
AC 7     44161
AC 8     44136
AC 9     44186
AC 10    44150
AC 11    44170
AC 12    44127
AC 13    44121
AC 14    44144
AC 15    44125
AC 16    44130
AC 17    44126
AC 18    44117
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87840 entries, 0 to 87839
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       87840 non-null  object
 1   AC 1    43708 non-null  float64
 2   AC 2    43711 non-null  float64
 3   AC 3    43713 non-null  float64
 4   AC 4    43704 non-null  float64
 5   AC 5    43716 non-null  float64
 6   AC 6    43717 non-null  float64
 7   AC 7    43679 non-null  float64
 8   AC 8    43704 non-null  float64
 9   AC 9    43654 non-null  float64
 10  AC 10   43690 non-null  float64
 11  AC 11   43670 non-null  float64
 12  AC 12   43713 non-null  float64
 13  AC 13   43719 non-null  float64
 14  AC 14   43696 non-null  float64
 15  AC 15   43715 non-null  float64
 16  AC 16   43710 non-null  float64
 17  AC 17   43714 non-null  float64
 18  AC 18   43723 non-null  float64
dtypes: float64(18), object(1)
memory usage: 12.7+ MB

In [25]:
df['AC 1'].mean()
df['AC 2'].mean()

3.8688922226990403

In [26]:
df['AC 1'].max()

11.1947890625

In [27]:
df['AC 18'].max()

11.04003125

In [28]:
df['AC 18'].mean()

6.4626756888975745

In [30]:
df[df['AC 1']==df['AC 1'].max()]

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
60153,2019-09-11 18:33:00,11.194789,0.0,4.255112,6.233189,0.0,2.187222,3.00515,2.182235,4.703736,0.0,2.774747,1.852368,4.903643,2.428737,4.504187,2.555082,5.177312,6.564118

In [31]:
df[df['AC 18']==df['AC 18'].max()]

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
52431,2019-09-06 09:51:00,0.0,2.325291,0.0,2.12208,1.349998,2.152007,3.627871,3.207957,3.187205,1.974471,2.804656,3.016927,6.830365,3.049492,3.87356,1.857445,0.84021,11.040031

In [32]:
df[df['AC 4']==df['AC 4'].max()]

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
60603,2019-09-12 02:03:00,9.538569,NaN,NaN,9.8795,1.224883,6.660759,NaN,NaN,NaN,1.816145,NaN,3.677754,7.196796,NaN,9.230529,4.457892,4.949979,7.909798

In [6]:
# How many type of data are . Let's see that
# overall that data distribution is very clean.

df.describe()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
count,43708.000000,43711.000000,43713.000000,43704.000000,43716.000000,43717.000000,43679.000000,43704.000000,43654.000000,43690.000000,43670.000000,43713.000000,43719.000000,43696.000000,43715.000000,43710.000000,43714.000000,43723.000000
mean,2.379368,3.868892,2.568411,2.395158,1.421699,2.518138,2.980883,2.548711,3.184382,1.538344,2.406141,2.699639,4.279893,2.917122,4.046283,2.800050,4.218979,6.462676
std,2.276782,2.545147,1.487508,1.797529,0.767218,1.655560,1.473498,1.504482,1.522291,0.685461,1.554481,1.436087,1.847168,1.454946,2.016898,1.606239,1.125491,2.319242
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.123263,1.706508,1.258299,0.970744,1.543779,2.190803,1.766230,2.294635,1.117139,1.591748,1.949729,3.260674,1.852981,3.023501,1.877626,3.752478,4.013579
50%,2.094330,3.791752,2.486992,2.308961,1.380183,2.665063,3.005071,2.608551,3.082134,1.504554,2.351361,2.727152,4.217381,2.787084,4.001279,2.673698,4.611434,7.131194
75%,3.661752,5.460892,3.441527,3.476123,1.870234,3.616988,3.897857,3.496358,4.096374,1.963707,3.254937,3.566744,5.379832,3.824467,5.260193,3.695294,4.958306,8.314639
max,11.194789,11.147141,8.430909,9.879500,5.495358,9.929291,9.356776,9.331506,10.026747,4.625030,10.363151,9.887306,9.796393,9.054969,10.349998,10.654430,5.950261,11.040031

In [7]:
df.corr()

,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
AC 1,1.000000,0.430097,0.236607,0.328553,0.100152,0.225852,0.031081,0.104567,0.108839,0.189108,0.312637,0.203112,0.262823,0.195175,0.317687,0.253641,-0.086806,-0.037975
AC 2,0.430097,1.000000,0.250247,0.436843,0.109168,0.208857,0.048340,0.075229,0.147773,0.160593,0.186961,0.166592,0.240327,0.131427,0.240375,0.187433,0.024289,-0.044151
AC 3,0.236607,0.250247,1.000000,0.264392,0.062186,0.093411,0.027422,0.113742,0.131613,0.072995,0.145109,0.111281,0.214412,0.127955,0.272147,0.263351,0.026408,0.026462
AC 4,0.328553,0.436843,0.264392,1.000000,0.141945,0.180688,0.086190,0.160474,0.173537,0.165599,0.133118,0.179463,0.223796,0.198743,0.157062,0.131946,-0.013090,-0.071810
AC 5,0.100152,0.109168,0.062186,0.141945,1.000000,0.262816,0.111106,0.118360,0.119612,0.109955,0.134732,0.131720,0.111634,0.212519,0.068721,0.041222,0.033681,-0.029607
AC 6,0.225852,0.208857,0.093411,0.180688,0.262816,1.000000,0.189372,0.201005,0.184327,0.184588,0.267939,0.236351,0.228131,0.315633,0.202825,0.123598,-0.010361,-0.098094
AC 7,0.031081,0.048340,0.027422,0.086190,0.111106,0.189372,1.000000,0.206060,0.180162,0.202509,0.166265,0.213257,0.128848,0.230762,0.121341,0.061152,-0.012165,-0.056803
AC 8,0.104567,0.075229,0.113742,0.160474,0.118360,0.201005,0.206060,1.000000,0.172858,0.203770,0.201385,0.224755,0.144214,0.329811,0.122142,0.113220,-0.099038,-0.116861
AC 9,0.108839,0.147773,0.131613,0.173537,0.119612,0.184327,0.180162,0.172858,1.000000,0.208402,0.170061,0.183574,0.186145,0.269542,0.172904,0.125683,-0.029613,-0.088036
AC 10,0.189108,0.160593,0.072995,0.165599,0.109955,0.184588,0.202509,0.203770,0.208402,1.000000,0.190133,0.186618,0.159514,0.295205,0.235738,0.243506,-0.155561,-0.132667
AC 11,0.312637,0.186961,0.145109,0.133118,0.134732,0.267939,0.166265,0.201385,0.170061,0.190133,1.000000,0.273455,0.207872,0.333404,0.256659,0.221271,-0.135351,-0.150951
AC 12,0.203112,0.166592,0.111281,0.179463,0.131720,0.236351,0.213257,0.224755,0.183574,0.186618,0.273455,1.000000,0.162158,0.264231,0.179348,0.143310,-0.093329,-0.106826
AC 13,0.262823,0.240327,0.214412,0.223796,0.111634,0.228131,0.128848,0.144214,0.186145,0.159514,0.207872,0.162158,1.000000,0.259626,0.190924,0.180067,-0.001706,-0.007292
AC 14,0.195175,0.131427,0.127955,0.198743,0.212519,0.315633,0.230762,0.329811,0.269542,0.295205,0.333404,0.264231,0.259626,1.000000,0.183683,0.179782,-0.201376,-0.212333
AC 15,0.317687,0.240375,0.272147,0.157062,0.068721,0.202825,0.121341,0.122142,0.172904,0.235738,0.256659,0.179348,0.190924,0.183683,1.000000,0.383176,-0.085160,-0.094024
AC 16,0.253641,0.187433,0.263351,0.131946,0.041222,0.123598,0.061152,0.113220,0.125683,0.243506,0.221271,0.143310,0.180067,0.179782,0.383176,1.000000,-0.086188,-0.057407
AC 17,-0.086806,0.024289,0.026408,-0.013090,0.033681,-0.010361,-0.012165,-0.099038,-0.029613,-0.155561,-0.135351,-0.093329,-0.001706,-0.201376,-0.085160,-0.086188,1.000000,0.645693
AC 18,-0.037975,-0.044151,0.026462,-0.071810,-0.029607,-0.098094,-0.056803,-0.116861,-0.088036,-0.132667,-0.150951,-0.106826,-0.007292,-0.212333,-0.094024,-0.057407,0.645693,1.000000

In [8]:
# df.Information 
df.columns

Index(['0', 'AC 1', 'AC 2', 'AC 3', 'AC 4', 'AC 5', 'AC 6', 'AC 7', 'AC 8',
       'AC 9', 'AC 10', 'AC 11', 'AC 12', 'AC 13', 'AC 14', 'AC 15', 'AC 16',
       'AC 17', 'AC 18'],
      dtype='object')

In [9]:
df.nunique()

0        87840
AC 1     29689
AC 2     37523
AC 3     38867
AC 4     34097
AC 5     39466
AC 6     34641
AC 7     39684
AC 8     37018
AC 9     40817
AC 10    41393
AC 11    36656
AC 12    38771
AC 13    41336
AC 14    41897
AC 15    39635
AC 16    39163
AC 17    42531
AC 18    42209
dtype: int64

In [10]:
df.head(10)

,0,AC 1,AC 2,AC 3,AC 4,AC 5,AC 6,AC 7,AC 8,AC 9,AC 10,AC 11,AC 12,AC 13,AC 14,AC 15,AC 16,AC 17,AC 18
0,2019-08-01 00:00:00,7.518632,8.788315,0.0,0.0,2.617045,4.079041,2.782276,4.624447,5.222060,2.151238,1.585072,0.560373,3.142941,2.749470,5.417774,4.113460,3.305072,6.735981
1,2019-08-01 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-08-01 00:02:00,7.426114,8.940615,0.0,0.0,2.581625,3.781231,2.529366,5.057423,5.349465,2.414715,2.168184,1.818730,3.085110,2.720484,3.302422,3.986483,3.220588,6.379500
3,2019-08-01 00:03:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-08-01 00:04:00,7.052986,9.161103,0.0,0.0,2.592095,3.800127,2.332304,6.322521,3.995392,2.237114,3.345624,2.310409,3.132799,2.676861,3.539026,3.797881,3.131560,6.363475
5,2019-08-01 00:05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2019-08-01 00:06:00,6.665446,9.065626,0.0,0.0,2.575639,3.772891,2.596200,5.805132,3.553778,1.878356,2.737645,2.510972,3.090007,2.666604,4.607439,3.062610,3.063953,6.127366
7,2019-08-01 00:07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2019-08-01 00:08:00,6.674838,9.096130,0.0,0.0,2.021472,3.155697,2.845417,6.315060,3.042244,1.914650,2.452500,2.171791,3.097202,2.710572,5.332696,2.640150,2.864680,5.662474
9,2019-08-01 00:09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.max()

0        2019-09-30 23:59:00
AC 1               11.194789
AC 2               11.147141
AC 3                8.430909
AC 4                  9.8795
AC 5                5.495358
AC 6                9.929291
AC 7                9.356776
AC 8                9.331506
AC 9               10.026747
AC 10                4.62503
AC 11              10.363151
AC 12               9.887306
AC 13               9.796393
AC 14               9.054969
AC 15              10.349998
AC 16               10.65443
AC 17               5.950261
AC 18              11.040031
dtype: object

In [19]:
df.min()

0        2019-08-01 00:00:00
AC 1                     0.0
AC 2                     0.0
AC 3                     0.0
AC 4                     0.0
AC 5                     0.0
AC 6                     0.0
AC 7                     0.0
AC 8                     0.0
AC 9                     0.0
AC 10                    0.0
AC 11                    0.0
AC 12                    0.0
AC 13                    0.0
AC 14                    0.0
AC 15                    0.0
AC 16                    0.0
AC 17                    0.0
AC 18                    0.0
dtype: object

In [20]:
df.mean()

AC 1     2.379368
AC 2     3.868892
AC 3     2.568411
AC 4     2.395158
AC 5     1.421699
AC 6     2.518138
AC 7     2.980883
AC 8     2.548711
AC 9     3.184382
AC 10    1.538344
AC 11    2.406141
AC 12    2.699639
AC 13    4.279893
AC 14    2.917122
AC 15    4.046283
AC 16    2.800050
AC 17    4.218979
AC 18    6.462676
dtype: float64

In [34]:
df['AC 18'].max()

11.04003125

In [38]:
df.groupby('AC 1').mean()['AC 18']

AC 1
0.000000     6.387429
0.061684     8.984168
0.076532     0.000000
0.096821     9.201218
0.106747     8.267771
               ...
11.018453    6.649542
11.023938    6.625178
11.028666    6.589430
11.029782    6.573056
11.194789    6.564118
Name: AC 18, Length: 29689, dtype: float64

In [39]:
df.groupby('AC 10').mean()['AC 18']

AC 10
0.000000    6.330988
0.068246    4.521519
0.071105    8.002340
0.071471    6.903106
0.079765    9.070898
              ...
4.429328    6.902862
4.495712    3.312686
4.498272    6.881505
4.561020    6.919039
4.625030    6.860466
Name: AC 18, Length: 41393, dtype: float64

In [40]:
df.groupby('AC 15').mean()['AC 18']

AC 15
0.000000     6.838091
0.059943     8.347703
0.061845     8.157211
0.061908     8.410186
0.064327     0.000000
               ...
10.234355    5.217997
10.255000    4.014525
10.278590    4.806126
10.344078    3.976101
10.349998    3.956845
Name: AC 18, Length: 39635, dtype: float64

In [41]:
df['AC 18'].nunique()

42209

In [43]:
df['AC 1'].nunique()
#HOW MANY UNIQUE VALUES. 

df['AC 10'].nunique()

41393

In [44]:
df['AC 8'].nunique()

37018

In [45]:
#what are the top 5 most common jobs.

df['AC 1'].value_counts().head(5)

0.000000    13995
2.677030        2
1.960978        2
3.019474        2
5.236949        2
Name: AC 1, dtype: int64

In [47]:
df['AC 18'].value_counts().head()

0.000000    1400
9.011830       2
8.541340       2
3.703206       2
9.053273       2
Name: AC 18, dtype: int64

In [48]:
df['AC 18'].value_counts().max()

1400

In [49]:
df['AC 18'].value_counts().min()

1

In [50]:
df['AC 1'].value_counts().max()

13995

In [51]:
df['AC 15'].value_counts().min()

1

In [ ]:
# Tope Ten AC SELL .
#Ac_sell = df.loc[df['type']=='Ten']
#plt.figure(figsize=(12,6))
#ax = sns.countplot(y='listed_in',data = ac_data,Type=[0:10]. )
plt.title('Top Ten Ac', fontsize = 15)
plt.xlable('Total Count',fontsize = 15)
plt.ylable('Genre', fontsize= 15)

#This is not done yet. 
# THANKS FOR THIS OPPORTUNITY.